version: "3.8"

services:
  catalog-api:
    build:
      context: ./OrderlyCatalog
      dockerfile: Orderly.Catalog/Dockerfile
    container_name: orderly_catalog
    ports:
      - "8080:8080"
    environment:
      ASPNETCORE_URLS: http://+:8080
      ConnectionStrings__CatalogDb: ${CATALOG_DB_CONN}
    volumes:
      - ./logs/catalog:/app/logs
    depends_on:
      - catalog-db

  catalog-db:
    image: postgres:16
    container_name: orderly_catalog_db
    environment:
      POSTGRES_USER: ${CATALOG_DB_USER}
      POSTGRES_PASSWORD: ${CATALOG_DB_PASSWORD}
      POSTGRES_DB: ${CATALOG_DB}
    ports:
      - "5432:5432"
    volumes:
      - catalog_pgdata:/var/lib/postgresql/data

  orders-api:
    build:
      context: ./OrderlyOrders
      dockerfile: Orderly.Orders/Dockerfile
    container_name: orderly_orders
    ports:
      - "8082:8080"
    environment:
      ASPNETCORE_URLS: http://+:8080
      ConnectionStrings__OrdersDb: ${ORDERS_DB_CONN}
      Catalog__BaseUrl: http://catalog-api:8080
    volumes:
      - ./logs/orders:/app/logs
    depends_on:
      - orders-db
      - catalog-api

  orders-db:
    image: postgres:16
    container_name: orderly_orders_db
    environment:
      POSTGRES_USER: ${ORDERS_DB_USER}
      POSTGRES_PASSWORD: ${ORDERS_DB_PASSWORD}
      POSTGRES_DB: ${ORDERS_DB}
    ports:
      - "5433:5432"
    volumes:
      - orders_pgdata:/var/lib/postgresql/data


volumes:
  catalog_pgdata:
  orders_pgdata:
