version: "3.8"

services:
  catalog:
    build:
     context: .
     dockerfile: Orderly.Catalog/Dockerfile  
     # путь к проекту
    container_name: orderly_catalog
    ports:
      - "8080:8080"
    environment:
      - ASPNETCORE_URLS=http://+:8080
      - ConnectionStrings__CatalogDb=Host=db;Database=orderly_catalog;Username=admin;Password=12345
    depends_on:
      - db

  swagger-ui:
    image: swaggerapi/swagger-ui:latest
    container_name: orderly_swagger
    ports:
      - "8081:8080"  # Swagger UI будет доступен на http://localhost:8081
    environment:
      - SWAGGER_JSON_URL=http://localhost:8080/swagger/v1/swagger.json
    depends_on:
      - catalog
      - db
      
  db:
    image: postgres:16
    container_name: orderly.postgres
    restart: unless-stopped
    environment:
      - POSTGRES_USER=admin
      - POSTGRES_PASSWORD=12345
      - POSTGRES_DB=orderly_catalog
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata: